# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Local test configurations & logs
Dockerfile
/terraform/
.github/workflows/mysystem-deploy.yml
*.log

# CLI Build duplicates
packages/cli/templates/
packages/cli/AGENTS.md
